
@mixin shineRightToLeftEffect() {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    transition: none;
  }
  &:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    transition: all 0.3s ease-out;
  }
}

@mixin zoomEffect($childSelector) {
  overflow: hidden;
  #{$childSelector} {
    transition: all .5s;
  }
  &:hover #{$childSelector},
  &:focus #{$childSelector} {
    transform: scale(1.2);
  }
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}


