

html {
  background: var(--main-bg-color);

  body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--main-bg-color);
  }
}

.app-title {
  background: violet;

}

a {
  color: var(--link-color);
  &:hover {
    color: var(--link-hover-color);
  }
}
