
@import "sass/core/effect/fade.scss";
@import "sass/core/effect/zoom.scss";
@import "sass/core/effect/shadow.scss";

:root {
  --main-bg-color: #fafafa;
  --link-color: #333;
  --link-hover-color: #A60006;
  --top-menu-bg-color: var(--main-bg-color);
  --top-menu-link-color: var(--link-color);
  --top-menu-link-hover-color: var(--link-hover-color);
  --top-menu-toggler-color: var(--top-menu-link-color);
  --page-header-color: var(--main-bg-color);
}

// Zoom on product image hover
.product-thumb-image {
  @include zoomEffect("img");
}

// Fade in when the product is loaded
.product {
  animation: fade 1s;
}

