
@import "sass/core/effect/fade.scss";
@import "sass/core/effect/zoom.scss";
@import "sass/core/effect/shadow.scss";


:root {
  // COLOR
  --main-bg-color: #fafafa;
  --badge-bg-color: #6c757d;
  --link-color: #333;
  --link-hover-color: #A60006;
  --top-menu-bg-color: var(--main-bg-color);
  --top-menu-link-color: var(--link-color);
  --top-menu-link-hover-color: var(--link-hover-color);
  --top-menu-toggler-color: var(--top-menu-link-color);
  --page-header-color: var(--main-bg-color);
  --base-header-content-height: 12rem;
  --toast-info: var(--badge-bg-color);
  --toast-success: blue;
  --toast-warning: green;
  --toast-error: var(--link-hover-color);

  // BORDERS
  --car-border-radius: 6px 6px 0 0;
  --toast-border-radius: 0px;
}

// Zoom on product image hover
.product-thumb-image {
  @include zoomEffect("img");
}

// Fade in when the product is loaded
.product {
  animation: fade 1s;
}

