

.search-box__control--is-focused {
    border-color: #666 !important;
    box-shadow: none !important;
}
.search-box__multi-value__remove {
    background-color: transparent !important;
    color: var(--link-hover-color);
}

.search-box__placeholder {
    font-style: italic;
    color: #666 !important;
}
