
.product {

  .product-title {
    height: 4.5rem;
    .product-name {
      font-size: 1.2rem;
    }
    .product-brand {
      font-size: 0.8rem;
    }
  }

  .product-thumb-image {
    margin-bottom: 0 !important;
    border-radius: 2% 2% 0;
  }

  .product-content {
    padding: 0.5rem;
  }

  footer {
    position: relative;
    bottom: 0;

    .product-link {
      float: right;
    }
  }
}
